.hero-wrapper {
    margin: 144px 0 160px 0;
 }

.hero {
    display: grid;
    grid-template-columns: 576px 1fr;
    column-gap: 64px;
}

.hero-info {

}

.hero-info__title {
    color: var(--normal-white);
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 32px;
}

.hero-info__text {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 29px;

}

.hero-info__btn {
    padding-left: 36px;
    padding-right: 36px;
}

.hero__img {

}